<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <head>

        <meta content="all" name="Robots" />
        <meta content="all" name="googlebot" />
        <meta content="INDEX, FOLLOW" name="ROBOTS" />

        <meta content="http://www.autopecaseuropa.com.br/" property="og:url" />

        <meta content="Autopeças Europa" property="og:title" />


        <meta content="autopeças, europa, peças, carro, autopeças europa, automotivo" name="keywords" />

        <meta content="Autopeças Europa, tudo em peças e acessórios automotivos." property="og:description" />

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>Autopeças Europa</title>

        <meta name="description" content="Autopeças Europa, tudo em peças e acessórios automotivos." />

        <meta name="keywords" content="autopeças, europa, peças, carro, autopeças europa, automotivo" />


        <link href="img/icone.ico" type="image/x-icon" rel="shortcut icon"></link>
        <link href="css/estrutura.css" rel="stylesheet" type="text/css" />
        <link href="css/classe.css" rel="stylesheet" type="text/css" />

        <link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>

        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/jquery.cycle.all.js"></script>
        <script type="text/javascript" src="js/scripts.js"></script>





    </head>

    <body>

        <div id="topo">

            <div id="topoconteudo">

                <div id="logo"> <a href="http://www.autopecaseuropa.com.br"><img src="img/logo.png" /></a></div>


                <div id="menuconteudo">


                    <ul id="menu">

                        <li><a href="empresa.html">EMPRESA</a></li>
                        <li><a href="produtos.html">PRODUTOS</a></li>
                        <li><a href="noticias.html">NOTÍCIAS</a></li>
                        <li><a href="contato.html">CONTATO</a></li>

                    </ul>

                </div><!--Fecha div menuconteudo-->

                <div id="facebook"><a href="#"><img src="img/facebook.png"></a></div>

            </div> <!--Fecha div topoconteudo-->
        </div><!--Fecha div topo-->













        <div id="bannerfundo">

            <div id="banner">


                <div id="slideshow">
                    <ul id="slides">

                        <li><a href="#"><img src="img/banner00.jpg" /></a></li>
                        <li><a href="#"><img src="img/banner01.jpg" /></a></li>
                        <li><a href="#"><img src="img/banner02.jpg" /></a></li>
                        <li><a href="#"><img src="img/banner03.jpg" /></a></li>
                    </ul>


                    <ul id="nav">
                        <li id="prev"></li>
                        <li id="next"></li>
                    </ul>
                </div>


            </div> <!--fecha div banner-->


        </div>













        <!--CONTEUDO-->











        <div id="conteudo">

            @RenderBody()

        </div>

























        <!--BASE-->













        <div id="base">




            <div id="menuconteudobase">


                <ul id="menubase">

                    <li><a href="http://www.autopecaseuropa.com.br/empresa.html">EMPRESA</a></li>
                    <li><a href="http://www.autopecaseuropa.com.br/produtos.html">PRODUTOS</a></li>
                    <li><a href="http://www.autopecaseuropa.com.br/noticias.html">NOTÍCIAS</a></li>
                    <li><a href="http://www.autopecaseuropa.com.br/contato.html">CONTATO</a></li>


                </ul>


                <div id="faceicon"> <a href="#" target="new"> <img src="img/facebook.png"></a></div>


            </div><!--Fecha MenuConteudoBase-->



            <div id="enderecobase">

                <br><p align="center">
                    Loja 01<br>
                    (19) 3458-2914 | (19) 3458-4925 <br>
                    Rua Espanha, 233 - Jardim Europa - Santa Bárbara d'Oeste / SP
                </p>

                <br><p align="center">
                    Loja 02<br>
                    (19) 3458-3725 | (19) 3458-5442 <br>
                    Av. Alonso Keese Dodson, 182 - Planalto do Sol II - Santa Bárbara d'Oeste / SP
                </p><br>





            </div> <!--Fecha EnderecoBase-->

            <div id="fundobase">


                <div id="baseconteudo">

                    <div id="copyright">




                        Copyright - Todos os direitos revervados. Desenvolvido por Global - Design, Comunicação & Marketing.

                    </div><!--Fecha copyright-->


                    <div id="global">
                        <a onmouseout="document.global.src='img/logoglobalpb.png'" onmouseover="document.global.src='img/logoglobal.png'" href="http://www.globaldcm.com.br">
                            <img width="66px" height="33px" border="0" name="global" src="img/logoglobalpb.png"></img>
                        </a>
                    </div> <!--Fecha global-->




                </div> <!--Fecha baseconteudo-->


            </div>




        </div> <!--Fecha Base-->






    </body>
    </html>

